---

---

<div>
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark mt-4"
  >
    Educación
  </h2>
  <h4 class="text-md text-textPrimary font-bold">Ingeniero en informática</h4>
  <span class="text-textPrimary text-sm">Instituto profesional Duoc UC</span>
  <br />
  <span class="text-textGray text-sm">2019 - 2022</span>
  <h4 class="text-md text-textPrimary font-bold mt-4">
    Técnico en telecomunicaciones
  </h4>
  <span class="text-textPrimary text-sm">Liceo politécnico andes (Duoc UC)</span
  >
  <br />
  <span class="text-textGray text-sm">2015 - 2018</span>
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark mt-4"
  >
    Certificados
  </h2>
  <h4 class="text-md text-textPrimary font-bold">Rocketbot academy</h4>
  <a
    class="text-sm text-textPrimary hover:font-bold hover:text-md cursor-pointer"
    href="https://certificate.rocketbot.co/badges/51964753-2bca-cecd-eeaf-956da5d8a155"
    target="_blank">Bot builder rocketbot expert level 1</a
  >
  <br />
  <a
    class="text-sm text-textPrimary hover:font-bold hover:text-md cursor-pointer"
    href="https://certificate.rocketbot.co/badges/0383093f-6e5a-5b81-f95d-5a4d036a1f38"
    target="_blank">Bot builder rocketbot expert level 2</a
  >
  <h4 class="text-md text-textPrimary font-bold mt-4">Cisco</h4>
  <a
    class="text-sm text-textPrimary hover:font-bold hover:text-md cursor-pointer"
    href="CertificadoCisco.pdf"
    target="_blank"
    >Cybersecurity Essentials
  </a>
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark mt-4"
  >
    Idiomas
  </h2>
  <h4 class="text-md text-textPrimary font-bold">
    Inglés <span class="text-textPrimary text-sm font-normal">(Intermedio)</span
    >
  </h4>
  <h4 class="text-md text-textPrimary font-bold mt-2">
    Español <span class="text-textPrimary text-sm font-normal">(Nativo)</span>
  </h4>
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark mt-4"
  >
    Intereses
  </h2>
  <h4 class="text-sm text-textPrimary font-bold">Desarrollo web</h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">
    Desarrollo de software
  </h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">Desarrollo móvil</h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">
    Inteligencia artificial
  </h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">
    Automatización de procesos
  </h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">
    Arquitectura de software
  </h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">DevOps</h4>
  <h4 class="text-sm text-textPrimary font-bold mt-1">Gestión de proyectos</h4>
</div>
