---
import Tooltip from "../Tooltip.astro";
---

<div class="h-auto">
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark"
  >
    Habilidades
  </h2>
  <h4 class="text-lg text-textPrimary font-bold">Frontend</h4>
  <div class="grid grid-cols-4 mt-4 gap-2">
    <Tooltip text="HTML5">
      <img src="Icons/html.svg" alt="html5 icon" />
    </Tooltip>
    <Tooltip text="CSS3">
      <img src="Icons/css.svg" alt="css3 icon" />
    </Tooltip>
    <Tooltip text="Scss">
      <img src="Icons/sass.svg" alt="Scss icon" />
    </Tooltip>
    <Tooltip text="Tailwind CSS">
      <img src="Icons/tailwind.svg" alt="tailwind css icon" />
    </Tooltip>
    <Tooltip text="Styled Components">
      <img src="Icons/styledcomponents.svg" alt="styled components icon" />
    </Tooltip>
    <Tooltip text="Bootstrap">
      <img src="Icons/bootstrap.svg" alt="bootstrap icon" />
    </Tooltip>
    <Tooltip text="React">
      <img src="Icons/react.svg" alt="react icon" />
    </Tooltip>
    <Tooltip text="Next.js">
      <img src="Icons/nextjs.svg" alt="next.js icon" />
    </Tooltip>
    <Tooltip text="Astro">
      <img src="Icons/astro.svg" alt="astro icon" />
    </Tooltip>
    <Tooltip text="Redux">
      <img src="Icons/redux.svg" alt="redux icon" />
    </Tooltip>
    <Tooltip text="Tanstack query">
      <img src="Icons/tanstackquery.svg" alt="tanstack icon" />
    </Tooltip>
    <Tooltip text="zustand">
      <img src="Icons/zustand.png" alt="zustand icon" />
    </Tooltip>
  </div>
  <h4 class="text-lg text-textPrimary font-bold mt-4">Backend</h4>
  <dir class="grid grid-cols-4 mt-4 p-0 gap-2">
    <Tooltip text="Node.js">
      <img src="Icons/node.svg" alt="node.js icon" />
    </Tooltip>
    <Tooltip text="Express">
      <img src="Icons/express.svg" alt="express icon" />
    </Tooltip>
    <Tooltip text="NestJS">
      <img src="Icons/nest.svg" alt="nestjs icon" />
    </Tooltip>
    <Tooltip text=".NET Core">
      <img src="Icons/netcore.png" alt=".NET Core icon" class="w-30 h-30" />
    </Tooltip>
    <Tooltip text="Django">
      <img src="Icons/django.svg" alt="django icon" />
    </Tooltip>
    <Tooltip text="FastAPI">
      <img src="Icons/fastapi.svg" alt="fastapi icon" />
    </Tooltip>
    <Tooltip text="Prisma ORM">
      <img src="Icons/prisma.svg" alt="prisma icon" />
    </Tooltip>
    <Tooltip text="Sequelize ORM">
      <img src="Icons/sequelize.svg" alt="sequelize icon" />
    </Tooltip>
    <Tooltip text="Amazon Web Services">
      <img src="Icons/aws.svg" alt="aws icon" />
    </Tooltip>
    <Tooltip text="Azure">
      <img src="Icons/azure.svg" alt="azure icon" />
    </Tooltip>
    <Tooltip text="Sql Server">
      <img src="Icons/sqlserver.svg" alt="sql server icon" />
    </Tooltip>
    <Tooltip text="PostgreSQL">
      <img src="Icons/postgresql.svg" alt="postgresql icon" />
    </Tooltip>
    <Tooltip text="MySQL">
      <img src="Icons/mysql.svg" alt="mysql icon" />
    </Tooltip>
    <Tooltip text="Oracle">
      <img src="Icons/oracle.svg" alt="oracle icon" />
    </Tooltip>
    <Tooltip text="MongoDB">
      <img src="Icons/mongo.svg" alt="mongodb icon" />
    </Tooltip>
    <Tooltip text="Vitest">
      <img src="Icons/vitest.svg" alt="vitest icon" />
    </Tooltip>
  </dir>
  <h4 class="text-lg text-textPrimary font-bold mt-4">
    Lenguajes de programación
  </h4>
  <dir class="grid grid-cols-4 mt-4 p-0 gap-2">
    <Tooltip text="JavaScript">
      <img src="Icons/js.svg" alt="javascript icon" />
    </Tooltip>
    <Tooltip text="TypeScript">
      <img src="Icons/ts.svg" alt="typescript icon" />
    </Tooltip>
    <Tooltip text="Python">
      <img src="Icons/python.svg" alt="python icon" />
    </Tooltip>
    <Tooltip text="C#">
      <img src="Icons/csharp.svg" alt="C# icon" />
    </Tooltip>
  </dir>
  <h4 class="text-lg text-textPrimary font-bold mt-4">Otros</h4>
  <div class="flex flex-wrap p-0 w-full gap-1 text-sm">
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >git</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >github</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Jira</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Scrum</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Linux</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Windows</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Postman</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Visual Studio</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >VS Code</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >IA</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Computer vision</span
    >

    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >JSON</span
    >

    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >RPA</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Rocketbot</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Creatividad</span
    >

    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Capacidad de aprendizaje</span
    >

    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Adaptabilidad</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Colaborativo</span
    >

    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Comunicación</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
      >Meticuloso</span
    >
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
    >
      Horientado al resultado
    </span>
    <span
      class="bg-primaryDark text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden"
    >
      Liderazgo
    </span>
  </div>
</div>
