---
import Experience from "./Experience.astro";
import Skills from "./Skills.astro";
import Others from "./Others.astro";
---

<div class="mt-6 flex justify-between gap-8">
  <div class="w-9/12">
    <h2
      class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark"
    >
      Experiencia laboral
    </h2>
    <div class="timeline flex flex-col gap-12">
      <Experience
        position="Desarrollador de software full stack"
        description="En Emtci, mi rol como Desarrollador de Software ha sido fundamental para la adaptación e implementación de nuevas tecnologías y el desarrollo de soluciones innovadoras. He trabajado en estrecha colaboración con otros desarrolladores y equipos multidisciplinarios para planificar, diseñar y desarrollar sistemas complejos, asegurando la eficiencia y calidad del producto final."
        workPeriod="Enero 2024 – presente"
        company="Emtci"
        technologies={[
          "React",
          "Node.js",
          "ExpressJS",
          "Python",
          "Typescript",
          "Javascript",
          "Sql server",
          "Fast API",
          "Scrum",
          "Computer vision",
          "Vitest",
          "React Query",
          "Zustand",
          "Redux",
          "Prisma ORM",
          "Socket.io",
          "Linux",
          "Windows",
          "Azure",
          ".net",
          "C#",
          "Git",
          "Github",
          "Figma",
          "Api rest",
          "JSON",
          "Styled components",
          "React hook form",
          "Yup",
        ]}
      >
        <ul class="list-disc list-inside marker:text-xl pl-3">
          <li>
            <span class="font-bold">Implementación de Vitest:</span> Introduje y
            adapté Vitest en los proyectos, mejorando significativamente la eficiencia
            en las pruebas unitarias.
          </li>
          <li>
            <span class="font-bold"
              >Algoritmo de Procesamiento de Videos:
            </span>Desarrollé un algoritmo en Python capaz de procesar videos en
            vivo o grabados para extraer patentes de vehículos, facilitando la
            gestión y consulta de datos.
          </li>
          <li>
            <span class="font-bold">Sistema de Reconocimiento Facial:</span>
            Implementé un sistema de reconocimiento facial utilizando Python y React.
            Utilicé FastAPI y sockets para procesar en tiempo real los frames de
            la cámara, asegurando autenticidad mediante validaciones específicas.
          </li>
          <li>
            <span class="font-bold">Proyecto de Gestión de Comunidades:</span
            >Lideré la planificación y desarrollo de un sistema de gestión de
            comunidades, utilizando tecnologías como React, React Query,
            Zustand, Express y Prisma ORM. Estructuré la base del frontend para
            permitir un trabajo eficiente en equipo.
          </li>
          <li>
            <span class="font-bold">Capacitación y Mentoría:</span> Compartí conocimientos
            y mejores prácticas con el equipo, incluyendo el uso de React Query y
            Prisma, fomentando un entorno de aprendizaje y colaboración constante.
          </li>
        </ul>
      </Experience>
      <Experience
        position="Desarrollador de software full stack"
        description="Me desempeñé como Desarrollador full stack, siendo responsable de la migración y mejora de sistemas antiguos a nuevas tecnologías. Trabajé en el desarrollo de soluciones para la gestión documental, colaborando estrechamente con equipos en Chile y Perú. Mi enfoque estuvo en mejorar la eficiencia y la integración de sistemas, siempre trabajando bajo metodologías ágiles."
        workPeriod="Agosto 2023 – Diciembre 2023"
        company="Entel"
        technologies={[
          "React",
          "Node.js",
          "Typescript",
          "Javascript",
          "Redux",
          "Styled compomnets",
          "Sql server",
          "Azure",
          "Git",
          "Github",
          "C#",
          ".net",
          "Scrum",
          "Api rest",
          "JSON",
          "Notion",
          "Figma",
          "React hook form",
          "Yup",
        ]}
      >
        <ul class="list-disc list-inside marker:text-xl pl-3">
          <li>
            <span class="font-bold"
              >Migración y Desarrollo del Sistema de Gestión de Documentos:</span
            >
            Migré un sistema antiguo de gestión de documentos para Entel Chile y
            Perú a una nueva arquitectura utilizando React y .NET, y luego a Express,
            permitiendo la gestión de envíos físicos y digitales, con roles de usuario
            específicos y segregación de datos por país.
          </li>
          <li>
            <span class="font-bold">Integración de Tecnologías Modernas: </span>
            Implementé tecnologías modernas como React, para mejorar la experiencia
            de usuario y la eficiencia en los nuevos sistemas desarrollados
          </li>
          <li>
            <span class="font-bold"
              >Desarrollo de Formularios y Generación de QR:
            </span> Creé formularios personalizados para colaboradores internos y
            generé códigos QR con logos personalizados, mejorando la experiencia
            del usuario y la funcionalidad del sistema.
          </li>
        </ul>
      </Experience>
      <Experience
        position="Desarrollador de software full stack"
        description="En Samtech, me desempeñé como Desarrollador Full Stack, contribuyendo al desarrollo y migración de módulos para sistemas de gestión de empresas mineras. Trabajé en la creación de nuevas funcionalidades y en la reparación de errores existentes tanto en el frontend como en el backend. Mi trabajo incluyó el uso de tecnologías modernas para mejorar la eficiencia y la funcionalidad de los sistemas."
        workPeriod="Febrero 2023 – Junio 2023"
        company="Samtech"
        technologies={[
          "React",
          "Node.js",
          "Express",
          "Sequelize",
          "Sql server",
          "Git",
          "Github",
          "Scrum",
          "Api rest",
          "JSON",
          "Redux",
          "React Query",
          "Jira",
          "React hook form",
          "Yup",
          "Postgres",
        ]}
      >
        <ul class="list-disc list-inside marker:text-xl pl-3">
          <li>
            <span class="font-bold">Migración de Módulos Existentes:</span> Migré
            módulos de sistemas antiguos a nuevas plataformas, asegurando una transición
            suave y mejorando la funcionalidad y la eficiencia de los sistemas.
          </li>
          <li>
            <span class="font-bold">Desarrollo de Nuevos Módulos: </span> Creé nuevos
            módulos y funcionalidades para los sistemas de gestión minera, incluyendo
            sistemas CRUD para almacenar información de las faenas mineras.
          </li>
          <li>
            <span class="font-bold">Reparación de Errores</span>
            Identifiqué y corregí errores existentes en el sistema, tanto en el frontend
            como en el backend, asegurando una operación continua y sin problemas.
          </li>
        </ul>
      </Experience>
      <Experience
        position="Desarrollador RPA"
        description="En Above Technology, trabajé como Desarrollador RPA, enfocándome en la automatización de procesos a través del desarrollo de bots. Participé en diversos proyectos, tanto individualmente como en equipo, para implementar soluciones que mejoraron la eficiencia operativa de nuestros clientes."
        workPeriod="Julio 2022 – Febrero 2023"
        company="Above"
        technologies={[
          "Rocketbot",
          "Python",
          "Angular",
          "Nest",
          "Cootalker",
          "Javascript",
          "Typescript",
          "Git",
          "Github",
          "Scrum",
          "JSON",
          "Api rest",
          "Linux",
          "Windows",
          "Jira",
          "Asana",
          "Mysql",
        ]}
      >
        <ul class="list-disc list-inside marker:text-xl pl-3">
          <li>
            <span class="font-bold">Desarrollo de Bots:</span>
            Creé bots para automatizar la consulta y actualización de datos financieros
            y procesos de cobranza, mejorando la eficiencia y precisión.
          </li>
          <li>
            <span class="font-bold">Capacitación de Clientes:</span> Realicé capacitaciones
            a clientes en el uso de la plataforma Rocketbot para la gestión de RPA.
          </li>
          <li>
            <span class="font-bold">Proyecto Aduanero:</span> Contribuí al desarrollo
            de bots para una empresa de aduanas, automatizando la consulta y almacenamiento
            de datos.
          </li>
          <li>
            <span class="font-bold">Sistema de Gestión de Bots:</span> Participé
            en el desarrollo de un sistema con Angular y Nest para la gestión centralizada
            de bots.
          </li>
          <li>
            <span class="font-bold">Entrega Puntual:</span> Cumplí con los plazos
            contractuales en proyectos críticos, asegurando la calidad y funcionalidad
            de los bots entregados.
          </li>
        </ul>
      </Experience>
    </div>
  </div>
  <div class="w-3/12">
    <Skills />
    <Others />
  </div>
</div>

<style>
  .timeline {
    position: relative; /* Asegúrate de que .timeline tiene position: relative */
  }
  .timeline::before {
    content: "";
    position: absolute; /* Cambiado a 'absolute' */
    left: 0; /* Ajusta según la alineación deseada */
    top: 4px;
    width: 3px;
    height: 100%;
    background-color: var(
      --secondary
    ); /* Asegúrate de que el color esté definido correctamente */
  }
</style>
