---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="CrisNS.dev">
  <main class="w-full h-auto flex justify-center py-16">
    <section class="w-1/2 h-full shadow-xl shadow-gray-600">
      <Header />
    </section>
  </main>
</Layout>
