---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Summary from "../components/Summary.astro";
import WorkExperience from "../components/WorkExperience/WorkExperience.astro";
import ContactButton from "../components/ContactButton.astro";
---

<Layout title="CrisNS.dev">
  <main class="w-full h-auto flex justify-center py-0 pb-16 lg:py-16">
    <section
      class="w-full xl:w-8/12 2xl:w-7/12 h-full lg:shadow-xl lg:shadow-gray-600 pb-16"
    >
      <Header />
      <div class="w-full px-6 lg:px-14">
        <Summary />
        <WorkExperience />
      </div>
    </section>
  </main>
  <ContactButton />
</Layout>
