---
import Tooltip from "./Tooltip.astro";
---

<div class="fixed bottom-4 right-16">
  <Tooltip text="Whatsapp">
    <a href="">
      <img
        src="/Whatsapp.svg"
        alt="Whatsapp icon"
        class="cursor-pointer animate-bounce"
      />
    </a>
  </Tooltip>
  <Tooltip text="Linkedin">
    <a href="https://linkedin.com/in/crisns-dev">
      <img
        src="/linkedin.svg"
        alt="Linkedin icon"
        class="cursor-pointer animate-bounce"
      />
    </a>
  </Tooltip>
</div>
