---

---

<div class="mt-10">
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark"
  >
    Perfil profesional
  </h2>
  <p class="text-textPrimary text-md">
    Ingeniero en Informática con una sólida formación académica y amplia
    experiencia profesional en desarrollo de software y automatización de
    procesos. Me especializo en la planificación y ejecución de proyectos
    tecnológicos, destacándome en la creación de algoritmos, desarrollo de
    aplicaciones web y móviles, así como en la gestión y diseño de bases de
    datos. Tengo habilidades comprobadas en metodologías ágiles y una gran
    capacidad para aprender y adaptarme a nuevas tecnologías. Soy proactivo,
    orientado a la solución y apasionado por la tecnología y la innovación.
    Busco oportunidades que me permitan continuar creciendo profesionalmente y
    contribuir al éxito de la organización a través de mi conocimiento y
    experiencia en liderazgo y arquitectura de software.
  </p>
</div>
