---

---

<div class="mt-10">
  <h2
    class="text-2xl text-textPrimary pb-3 mb-4 font-bold border-b border-primaryDark"
  >
    Perfil profesional
  </h2>
  <p class="text-textPrimary text-md">
    Ingeniero en Informática del Instituto Duoc UC, especializado en desarrollo
    de software y RPA. Destacada experiencia con bases de datos como MySQL,
    PostgreSQL, SQL Server y lenguajes como JavaScript y Python. Competente en
    frameworks como Angular, React y Django, y con reciente liderazgo en
    proyectos de inteligencia artificial y desarrollo de software. Proactivo en
    la adopción de nuevas tecnologías y metodologías ágiles, busco oportunidades
    que desafíen y expandan mis habilidades en DevOps y gestión de proyectos.
  </p>
</div>
